<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>SUAutomaticallyUpdate</key>
		<true/>
		<key>SUEnableAutomaticChecks</key>
		<true/>
		<key>SUHasLaunchedBefore</key>
		<true/>
		<key>SUUpdateRelaunchingMarker</key>
		<false/>
		<key>alignThumbnails</key>
		<string>0</string>
		<key>appsToShow</key>
		<string>0</string>
		<key>appsToShow2</key>
		<string>0</string>
		<key>crashPolicy</key>
		<string>0</string>
		<key>fadeOutAnimation</key>
		<string>false</string>
		<key>hideAppBadges</key>
		<string>false</string>
		<key>hideWindowlessApps</key>
		<string>true</string>
		<key>holdShortcut</key>
		<string>⌘</string>
		<key>holdShortcut2</key>
		<string>⌘</string>
		<key>menubarIcon</key>
		<string>3</string>
		<key>mouseHoverEnabled</key>
		<string>false</string>
		<key>nextWindowShortcut</key>
		<string>⇥</string>
		<key>nextWindowShortcut2</key>
		<string>`</string>
		<key>preferencesVersion</key>
		<string>6.65.0</string>
		<key>screensToShow</key>
		<string>1</string>
		<key>screensToShow2</key>
		<string>1</string>
		<key>shortcutStyle</key>
		<string>0</string>
		<key>showFullscreenWindows</key>
		<string>0</string>
		<key>showHiddenWindows</key>
		<string>0</string>
		<key>showMinimizedWindows</key>
		<string>1</string>
		<key>showOnScreen</key>
		<string>0</string>
		<key>showTabsAsWindows</key>
		<string>false</string>
		<key>spacesToShow</key>
		<string>1</string>
		<key>startAtLogin</key>
		<string>true</string>
		<key>theme</key>
		<string>0</string>
		<key>titleTruncation</key>
		<string>0</string>
		<key>updatePolicy</key>
		<string>2</string>
		<key>windowMaxWidthInRow</key>
		<string>30</string>
	</dict>
</plist>