<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>ActivePreset</key>
		<string>Unsaved:VU5TQVZFRHwyLGNwdWNvcmVhdmcsNDUsNTV8MixjcHVjb3JlYXZnLDQ1LDU1</string>
		<key>AppFirstRun</key>
		<integer>0</integer>
		<key>CustomPresets</key>
		<array/>
		<key>DockIcon</key>
		<false/>
		<key>DontCheckForHelperTool</key>
		<integer>0</integer>
		<key>Fahrenheit</key>
		<integer>0</integer>
		<key>InterfaceLanguage</key>
		<string>English.xml</string>
		<key>MoveToAppsSkip</key>
		<integer>0</integer>
		<key>PreciseTemperature</key>
		<integer>0</integer>
		<key>RateOnMacupdateNextDate</key>
		<string>2999-01-01T00:00:00</string>
		<key>RateOnMacupdateSkip</key>
		<integer>1</integer>
		<key>ShowEGpuTemp</key>
		<integer>1</integer>
		<key>ShowNVMeDrives</key>
		<integer>1</integer>
		<key>ShowSmartDrives</key>
		<integer>0</integer>
		<key>UpdateChecker_Auto</key>
		<integer>1</integer>
		<key>menubarIcon</key>
		<integer>2</integer>
		<key>menubarTwoLines</key>
		<integer>0</integer>
		<key>trayFan</key>
		<integer>-1</integer>
		<key>traySensor</key>
		<string/>
	</dict>
</plist>
