<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>disable-shadow</key>
		<true/>
		<key>location</key>
		<string>/Users/zouabi/Documents/Screenshots</string>
		<key>type</key>
		<string>png</string>
	</dict>
</plist>
