<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>NSStatusItem Visible BentoBox</key>
		<true/>
		<key>NSStatusItem Visible Bluetooth</key>
		<true/>
		<key>NSStatusItem VisibleCC Battery</key>
		<true/>
		<key>NSStatusItem VisibleCC BentoBox-0</key>
		<true/>
		<key>NSStatusItem VisibleCC Clock</key>
		<true/>
		<key>NSStatusItem VisibleCC NowPlaying</key>
		<true/>
		<key>NSStatusItem VisibleCC WiFi</key>
		<true/>
		<key>RemoteLiveActivitiesEnabled</key>
		<true/>
	</dict>
</plist>
