<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>KeyboardShortcuts_cycle-layout</key>
		<string>{"carbonModifiers":2560,"carbonKeyCode":49}</string>
		<key>KeyboardShortcuts_cycle-layout-backward</key>
		<string>{"carbonKeyCode":49,"carbonModifiers":6656}</string>
		<key>KeyboardShortcuts_decrease-main</key>
		<string>{"carbonKeyCode":47,"carbonModifiers":2560}</string>
		<key>KeyboardShortcuts_display-current-layout</key>
		<string>{"carbonModifiers":2560,"carbonKeyCode":34}</string>
		<key>KeyboardShortcuts_expand-main</key>
		<string>{"carbonKeyCode":37,"carbonModifiers":2560}</string>
		<key>KeyboardShortcuts_focus-ccw</key>
		<string>{"carbonModifiers":2560,"carbonKeyCode":38}</string>
		<key>KeyboardShortcuts_focus-cw</key>
		<string>{"carbonKeyCode":40,"carbonModifiers":2560}</string>
		<key>KeyboardShortcuts_focus-main</key>
		<string>{"carbonModifiers":2560,"carbonKeyCode":46}</string>
		<key>KeyboardShortcuts_focus-screen-1</key>
		<string>{"carbonKeyCode":13,"carbonModifiers":2560}</string>
		<key>KeyboardShortcuts_focus-screen-2</key>
		<string>{"carbonKeyCode":14,"carbonModifiers":2560}</string>
		<key>KeyboardShortcuts_focus-screen-3</key>
		<string>{"carbonKeyCode":15,"carbonModifiers":2560}</string>
		<key>KeyboardShortcuts_focus-screen-4</key>
		<string>{"carbonKeyCode":12,"carbonModifiers":2560}</string>
		<key>KeyboardShortcuts_focus-screen-5</key>
		<string>{"carbonKeyCode":5,"carbonModifiers":2560}</string>
		<key>KeyboardShortcuts_focus-screen-ccw</key>
		<string>{"carbonKeyCode":35,"carbonModifiers":2560}</string>
		<key>KeyboardShortcuts_focus-screen-cw</key>
		<string>{"carbonModifiers":2560,"carbonKeyCode":45}</string>
		<key>KeyboardShortcuts_increase-main</key>
		<string>{"carbonModifiers":2560,"carbonKeyCode":43}</string>
		<key>KeyboardShortcuts_reevaluate-windows</key>
		<string>{"carbonKeyCode":6,"carbonModifiers":2560}</string>
		<key>KeyboardShortcuts_relaunch-amethyst</key>
		<string>{"carbonKeyCode":6,"carbonModifiers":6656}</string>
		<key>KeyboardShortcuts_select-column-layout</key>
		<string>{"carbonKeyCode":3,"carbonModifiers":2560}</string>
		<key>KeyboardShortcuts_select-fullscreen-layout</key>
		<string>{"carbonModifiers":2560,"carbonKeyCode":2}</string>
		<key>KeyboardShortcuts_select-tall-layout</key>
		<string>{"carbonModifiers":2560,"carbonKeyCode":0}</string>
		<key>KeyboardShortcuts_select-wide-layout</key>
		<string>{"carbonKeyCode":1,"carbonModifiers":2560}</string>
		<key>KeyboardShortcuts_shrink-main</key>
		<string>{"carbonModifiers":2560,"carbonKeyCode":4}</string>
		<key>KeyboardShortcuts_swap-ccw</key>
		<string>{"carbonKeyCode":38,"carbonModifiers":6656}</string>
		<key>KeyboardShortcuts_swap-cw</key>
		<string>{"carbonModifiers":6656,"carbonKeyCode":40}</string>
		<key>KeyboardShortcuts_swap-main</key>
		<string>{"carbonKeyCode":36,"carbonModifiers":2560}</string>
		<key>KeyboardShortcuts_swap-screen-ccw</key>
		<string>{"carbonKeyCode":4,"carbonModifiers":6656}</string>
		<key>KeyboardShortcuts_swap-screen-cw</key>
		<string>{"carbonModifiers":6656,"carbonKeyCode":37}</string>
		<key>KeyboardShortcuts_throw-screen-1</key>
		<string>{"carbonModifiers":6656,"carbonKeyCode":13}</string>
		<key>KeyboardShortcuts_throw-screen-2</key>
		<string>{"carbonModifiers":6656,"carbonKeyCode":14}</string>
		<key>KeyboardShortcuts_throw-screen-3</key>
		<string>{"carbonModifiers":6656,"carbonKeyCode":15}</string>
		<key>KeyboardShortcuts_throw-screen-4</key>
		<string>{"carbonModifiers":6656,"carbonKeyCode":12}</string>
		<key>KeyboardShortcuts_throw-screen-5</key>
		<string>{"carbonModifiers":6656,"carbonKeyCode":5}</string>
		<key>KeyboardShortcuts_throw-space-1</key>
		<string>{"carbonKeyCode":18,"carbonModifiers":6656}</string>
		<key>KeyboardShortcuts_throw-space-10</key>
		<string>{"carbonModifiers":6656,"carbonKeyCode":29}</string>
		<key>KeyboardShortcuts_throw-space-2</key>
		<string>{"carbonModifiers":6656,"carbonKeyCode":19}</string>
		<key>KeyboardShortcuts_throw-space-3</key>
		<string>{"carbonKeyCode":20,"carbonModifiers":6656}</string>
		<key>KeyboardShortcuts_throw-space-4</key>
		<string>{"carbonModifiers":6656,"carbonKeyCode":21}</string>
		<key>KeyboardShortcuts_throw-space-5</key>
		<string>{"carbonKeyCode":23,"carbonModifiers":6656}</string>
		<key>KeyboardShortcuts_throw-space-6</key>
		<string>{"carbonModifiers":6656,"carbonKeyCode":22}</string>
		<key>KeyboardShortcuts_throw-space-7</key>
		<string>{"carbonKeyCode":26,"carbonModifiers":6656}</string>
		<key>KeyboardShortcuts_throw-space-8</key>
		<string>{"carbonModifiers":6656,"carbonKeyCode":28}</string>
		<key>KeyboardShortcuts_throw-space-9</key>
		<string>{"carbonKeyCode":25,"carbonModifiers":6656}</string>
		<key>KeyboardShortcuts_throw-space-left</key>
		<string>{"carbonKeyCode":123,"carbonModifiers":6656}</string>
		<key>KeyboardShortcuts_throw-space-right</key>
		<string>{"carbonModifiers":6656,"carbonKeyCode":124}</string>
		<key>KeyboardShortcuts_toggle-float</key>
		<string>{"carbonKeyCode":17,"carbonModifiers":2560}</string>
		<key>KeyboardShortcuts_toggle-focus-follows-mouse</key>
		<string>{"carbonModifiers":6656,"carbonKeyCode":7}</string>
		<key>KeyboardShortcuts_toggle-tiling</key>
		<string>{"carbonModifiers":6656,"carbonKeyCode":17}</string>
		<key>SUAutomaticallyUpdate</key>
		<true/>
		<key>SUEnableAutomaticChecks</key>
		<true/>
		<key>SUSendProfileInfo</key>
		<false/>
		<key>debug-layout-info</key>
		<false/>
		<key>disable-padding-on-builtin-display</key>
		<false/>
		<key>enables-layout-hud</key>
		<true/>
		<key>enables-layout-hud-on-space-change</key>
		<true/>
		<key>enables-window-count-hud</key>
		<false/>
		<key>float-small-windows</key>
		<true/>
		<key>floating</key>
		<array>
			<dict>
				<key>id</key>
				<string>com.linear</string>
				<key>window-titles</key>
				<array/>
			</dict>
			<dict>
				<key>id</key>
				<string>app.zen-browser.zen</string>
				<key>window-titles</key>
				<array/>
			</dict>
			<dict>
				<key>id</key>
				<string>com.microsoft.VSCode</string>
				<key>window-titles</key>
				<array/>
			</dict>
			<dict>
				<key>id</key>
				<string>com.googlecode.iterm2</string>
				<key>window-titles</key>
				<array/>
			</dict>
			<dict>
				<key>id</key>
				<string>com.google.Chrome</string>
				<key>window-titles</key>
				<array/>
			</dict>
			<dict>
				<key>id</key>
				<string>com.mitchellh.ghostty</string>
				<key>window-titles</key>
				<array/>
			</dict>
			<dict>
				<key>id</key>
				<string>com.todesktop.230313mzl4w4u92</string>
				<key>window-titles</key>
				<array/>
			</dict>
			<dict>
				<key>id</key>
				<string>com.openai.codex</string>
				<key>window-titles</key>
				<array/>
			</dict>
			<dict>
				<key>id</key>
				<string>com.brave.Browser</string>
				<key>window-titles</key>
				<array/>
			</dict>
		</array>
		<key>floating-is-blacklist</key>
		<integer>0</integer>
		<key>focus-follows-mouse</key>
		<false/>
		<key>follow-space-thrown-windows</key>
		<true/>
		<key>hide-menu-bar-icon</key>
		<false/>
		<key>ignore-menu-bar</key>
		<false/>
		<key>layouts</key>
		<array>
			<string>fullscreen</string>
			<string>column</string>
		</array>
		<key>mod1</key>
		<array>
			<string>option</string>
			<string>shift</string>
		</array>
		<key>mod2</key>
		<array>
			<string>option</string>
			<string>shift</string>
			<string>control</string>
		</array>
		<key>mouse-follows-focus</key>
		<true/>
		<key>mouse-resizes-windows</key>
		<true/>
		<key>mouse-swaps-windows</key>
		<true/>
		<key>new-windows-to-main</key>
		<false/>
		<key>restore-layouts-on-launch</key>
		<true/>
		<key>screen-padding-bottom</key>
		<integer>0</integer>
		<key>screen-padding-left</key>
		<integer>0</integer>
		<key>screen-padding-right</key>
		<integer>0</integer>
		<key>screen-padding-top</key>
		<integer>0</integer>
		<key>small-window-size</key>
		<integer>500</integer>
		<key>use-canary-build</key>
		<false/>
		<key>window-margin-size</key>
		<integer>1</integer>
		<key>window-margins</key>
		<false/>
		<key>window-max-count</key>
		<integer>0</integer>
		<key>window-minimum-height</key>
		<integer>0</integer>
		<key>window-minimum-width</key>
		<integer>0</integer>
		<key>window-resize-step</key>
		<integer>2</integer>
	</dict>
</plist>
