<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>autohide</key>
		<true/>
		<key>autohide-delay</key>
		<integer>0</integer>
		<key>autohide-time-modifier</key>
		<integer>0</integer>
		<key>dashboard-in-overlay</key>
		<true/>
		<key>enable-spring-load-actions-on-all-items</key>
		<true/>
		<key>expose-animation-duration</key>
		<real>0.1</real>
		<key>expose-group-apps</key>
		<true/>
		<key>expose-group-by-app</key>
		<false/>
		<key>largesize</key>
		<integer>50</integer>
		<key>launchanim</key>
		<false/>
		<key>magnification</key>
		<true/>
		<key>mineffect</key>
		<string>scale</string>
		<key>minimize-to-application</key>
		<true/>
		<key>mouse-over-hilite-stack</key>
		<true/>
		<key>mru-spaces</key>
		<false/>
		<key>orientation</key>
		<string>left</string>
		<key>persistent-apps</key>
		<array>
			<dict>
				<key>tile-data</key>
				<dict>
					<key>file-data</key>
					<dict>
						<key>_CFURLString</key>
						<string>file:///System/Applications/System%20Settings.app/</string>
						<key>_CFURLStringType</key>
						<integer>15</integer>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>tile-data</key>
				<dict>
					<key>file-data</key>
					<dict>
						<key>_CFURLString</key>
						<string>file:///System/Applications/Notes.app/</string>
						<key>_CFURLStringType</key>
						<integer>15</integer>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>tile-data</key>
				<dict>
					<key>file-data</key>
					<dict>
						<key>_CFURLString</key>
						<string>file:///Applications/WhatsApp.app/</string>
						<key>_CFURLStringType</key>
						<integer>15</integer>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>tile-data</key>
				<dict>
					<key>file-data</key>
					<dict>
						<key>_CFURLString</key>
						<string>file:///Applications/Zen.app/</string>
						<key>_CFURLStringType</key>
						<integer>15</integer>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>tile-data</key>
				<dict>
					<key>file-data</key>
					<dict>
						<key>_CFURLString</key>
						<string>file:///Applications/ChatGPT.app/</string>
						<key>_CFURLStringType</key>
						<integer>15</integer>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>tile-data</key>
				<dict>
					<key>file-data</key>
					<dict>
						<key>_CFURLString</key>
						<string>file:///Applications/Cursor.app/</string>
						<key>_CFURLStringType</key>
						<integer>15</integer>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>tile-data</key>
				<dict>
					<key>file-data</key>
					<dict>
						<key>_CFURLString</key>
						<string>file:///Applications/Ghostty.app/</string>
						<key>_CFURLStringType</key>
						<integer>15</integer>
					</dict>
				</dict>
			</dict>
		</array>
		<key>show-process-indicators</key>
		<true/>
		<key>show-recents</key>
		<false/>
		<key>showhidden</key>
		<true/>
		<key>tilesize</key>
		<integer>36</integer>
		<key>version</key>
		<integer>1</integer>
		<key>wvous-bl-corner</key>
		<integer>0</integer>
		<key>wvous-bl-modifier</key>
		<integer>0</integer>
		<key>wvous-br-corner</key>
		<integer>14</integer>
		<key>wvous-tl-corner</key>
		<integer>0</integer>
		<key>wvous-tl-modifier</key>
		<integer>0</integer>
		<key>wvous-tr-corner</key>
		<integer>0</integer>
		<key>wvous-tr-modifier</key>
		<integer>0</integer>
	</dict>
</plist>
