<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>AppleShowAllFiles</key>
		<true/>
		<key>DesktopViewSettings</key>
		<dict>
			<key>IconViewSettings</key>
			<dict>
				<key>arrangeBy</key>
				<string>grid</string>
				<key>backgroundColorBlue</key>
				<integer>1</integer>
				<key>backgroundColorGreen</key>
				<integer>1</integer>
				<key>backgroundColorRed</key>
				<integer>1</integer>
				<key>backgroundType</key>
				<integer>0</integer>
				<key>gridOffsetX</key>
				<integer>0</integer>
				<key>gridOffsetY</key>
				<integer>0</integer>
				<key>gridSpacing</key>
				<integer>100</integer>
				<key>iconSize</key>
				<integer>80</integer>
				<key>labelOnBottom</key>
				<false/>
				<key>showIconPreview</key>
				<true/>
				<key>showItemInfo</key>
				<true/>
				<key>textSize</key>
				<integer>12</integer>
				<key>viewOptionsVersion</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>DisableAllAnimations</key>
		<true/>
		<key>FK_AppCentricShowSidebar</key>
		<true/>
		<key>FK_ArrangeBy</key>
		<string>None</string>
		<key>FK_DefaultIconViewSettings</key>
		<dict>
			<key>arrangeBy</key>
			<string>name</string>
			<key>backgroundColorBlue</key>
			<integer>1</integer>
			<key>backgroundColorGreen</key>
			<integer>1</integer>
			<key>backgroundColorRed</key>
			<integer>1</integer>
			<key>backgroundType</key>
			<integer>0</integer>
			<key>gridOffsetX</key>
			<integer>0</integer>
			<key>gridOffsetY</key>
			<integer>0</integer>
			<key>gridSpacing</key>
			<integer>100</integer>
			<key>iconSize</key>
			<integer>80</integer>
			<key>labelOnBottom</key>
			<true/>
			<key>showIconPreview</key>
			<true/>
			<key>showItemInfo</key>
			<true/>
			<key>textSize</key>
			<integer>12</integer>
			<key>viewOptionsVersion</key>
			<integer>1</integer>
		</dict>
		<key>FK_StandardViewOptions2</key>
		<dict>
			<key>ColumnViewOptions</key>
			<dict>
				<key>ArrangeBy</key>
				<string>dnam</string>
				<key>ColumnShowFolderArrow</key>
				<true/>
				<key>ColumnShowIcons</key>
				<true/>
				<key>ColumnWidth</key>
				<integer>245</integer>
				<key>FontSize</key>
				<integer>13</integer>
				<key>PreviewDisclosureState</key>
				<true/>
				<key>SharedArrangeBy</key>
				<string>kipl</string>
				<key>ShowIconThumbnails</key>
				<true/>
				<key>ShowPreview</key>
				<true/>
			</dict>
		</dict>
		<key>FK_StandardViewSettings</key>
		<dict>
			<key>ExtendedListViewSettingsV2</key>
			<dict>
				<key>calculateAllSizes</key>
				<false/>
				<key>columns</key>
				<array>
					<dict>
						<key>ascending</key>
						<true/>
						<key>identifier</key>
						<string>name</string>
						<key>visible</key>
						<true/>
						<key>width</key>
						<integer>300</integer>
					</dict>
					<dict>
						<key>ascending</key>
						<false/>
						<key>identifier</key>
						<string>dateModified</string>
						<key>visible</key>
						<true/>
						<key>width</key>
						<integer>181</integer>
					</dict>
					<dict>
						<key>ascending</key>
						<false/>
						<key>identifier</key>
						<string>dateCreated</string>
						<key>visible</key>
						<false/>
						<key>width</key>
						<integer>181</integer>
					</dict>
					<dict>
						<key>ascending</key>
						<false/>
						<key>identifier</key>
						<string>size</string>
						<key>visible</key>
						<true/>
						<key>width</key>
						<integer>97</integer>
					</dict>
					<dict>
						<key>ascending</key>
						<true/>
						<key>identifier</key>
						<string>kind</string>
						<key>visible</key>
						<true/>
						<key>width</key>
						<integer>115</integer>
					</dict>
					<dict>
						<key>ascending</key>
						<true/>
						<key>identifier</key>
						<string>label</string>
						<key>visible</key>
						<false/>
						<key>width</key>
						<integer>100</integer>
					</dict>
					<dict>
						<key>ascending</key>
						<true/>
						<key>identifier</key>
						<string>version</string>
						<key>visible</key>
						<false/>
						<key>width</key>
						<integer>75</integer>
					</dict>
					<dict>
						<key>ascending</key>
						<true/>
						<key>identifier</key>
						<string>comments</string>
						<key>visible</key>
						<false/>
						<key>width</key>
						<integer>300</integer>
					</dict>
					<dict>
						<key>ascending</key>
						<false/>
						<key>identifier</key>
						<string>dateLastOpened</string>
						<key>visible</key>
						<false/>
						<key>width</key>
						<integer>200</integer>
					</dict>
					<dict>
						<key>ascending</key>
						<false/>
						<key>identifier</key>
						<string>shareOwner</string>
						<key>visible</key>
						<false/>
						<key>width</key>
						<integer>200</integer>
					</dict>
					<dict>
						<key>ascending</key>
						<false/>
						<key>identifier</key>
						<string>shareLastEditor</string>
						<key>visible</key>
						<false/>
						<key>width</key>
						<integer>200</integer>
					</dict>
				</array>
				<key>iconSize</key>
				<integer>16</integer>
				<key>showIconPreview</key>
				<true/>
				<key>sortColumn</key>
				<string>name</string>
				<key>textSize</key>
				<integer>13</integer>
				<key>useRelativeDates</key>
				<true/>
				<key>viewOptionsVersion</key>
				<integer>1</integer>
			</dict>
			<key>IconViewSettings</key>
			<dict>
				<key>arrangeBy</key>
				<string>grid</string>
				<key>backgroundColorBlue</key>
				<integer>1</integer>
				<key>backgroundColorGreen</key>
				<integer>1</integer>
				<key>backgroundColorRed</key>
				<integer>1</integer>
				<key>backgroundType</key>
				<integer>0</integer>
				<key>gridOffsetX</key>
				<integer>0</integer>
				<key>gridOffsetY</key>
				<integer>0</integer>
				<key>gridSpacing</key>
				<integer>100</integer>
				<key>iconSize</key>
				<integer>80</integer>
				<key>labelOnBottom</key>
				<true/>
				<key>showIconPreview</key>
				<true/>
				<key>showItemInfo</key>
				<true/>
				<key>textSize</key>
				<integer>12</integer>
				<key>viewOptionsVersion</key>
				<integer>1</integer>
			</dict>
			<key>ListViewSettings</key>
			<dict>
				<key>calculateAllSizes</key>
				<false/>
				<key>columns</key>
				<dict>
					<key>comments</key>
					<dict>
						<key>ascending</key>
						<true/>
						<key>index</key>
						<integer>7</integer>
						<key>visible</key>
						<false/>
						<key>width</key>
						<integer>300</integer>
					</dict>
					<key>dateCreated</key>
					<dict>
						<key>ascending</key>
						<false/>
						<key>index</key>
						<integer>2</integer>
						<key>visible</key>
						<false/>
						<key>width</key>
						<integer>181</integer>
					</dict>
					<key>dateLastOpened</key>
					<dict>
						<key>ascending</key>
						<false/>
						<key>index</key>
						<integer>8</integer>
						<key>visible</key>
						<false/>
						<key>width</key>
						<integer>200</integer>
					</dict>
					<key>dateModified</key>
					<dict>
						<key>ascending</key>
						<false/>
						<key>index</key>
						<integer>1</integer>
						<key>visible</key>
						<true/>
						<key>width</key>
						<integer>181</integer>
					</dict>
					<key>kind</key>
					<dict>
						<key>ascending</key>
						<true/>
						<key>index</key>
						<integer>4</integer>
						<key>visible</key>
						<true/>
						<key>width</key>
						<integer>115</integer>
					</dict>
					<key>label</key>
					<dict>
						<key>ascending</key>
						<true/>
						<key>index</key>
						<integer>5</integer>
						<key>visible</key>
						<false/>
						<key>width</key>
						<integer>100</integer>
					</dict>
					<key>name</key>
					<dict>
						<key>ascending</key>
						<true/>
						<key>index</key>
						<integer>0</integer>
						<key>visible</key>
						<true/>
						<key>width</key>
						<integer>300</integer>
					</dict>
					<key>size</key>
					<dict>
						<key>ascending</key>
						<false/>
						<key>index</key>
						<integer>3</integer>
						<key>visible</key>
						<true/>
						<key>width</key>
						<integer>97</integer>
					</dict>
					<key>version</key>
					<dict>
						<key>ascending</key>
						<true/>
						<key>index</key>
						<integer>6</integer>
						<key>visible</key>
						<false/>
						<key>width</key>
						<integer>75</integer>
					</dict>
				</dict>
				<key>iconSize</key>
				<integer>16</integer>
				<key>showIconPreview</key>
				<true/>
				<key>sortColumn</key>
				<string>name</string>
				<key>textSize</key>
				<integer>13</integer>
				<key>useRelativeDates</key>
				<true/>
				<key>viewOptionsVersion</key>
				<integer>1</integer>
			</dict>
			<key>SettingsType</key>
			<string>FK_StandardViewSettings</string>
		</dict>
		<key>FK_iCloudListViewSettingsV2</key>
		<dict>
			<key>calculateAllSizes</key>
			<false/>
			<key>columns</key>
			<array>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>name</string>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>268</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>ubiquity</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>35</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>dateModified</string>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>181</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>dateCreated</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>181</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>size</string>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>97</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>kind</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>115</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>label</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>100</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>version</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>75</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>comments</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>300</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>dateLastOpened</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>200</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>shareOwner</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>200</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>shareLastEditor</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>200</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>dateAdded</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>181</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>invitationStatus</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>210</integer>
				</dict>
			</array>
			<key>iconSize</key>
			<integer>16</integer>
			<key>showIconPreview</key>
			<true/>
			<key>sortColumn</key>
			<string>dateModified</string>
			<key>textSize</key>
			<integer>13</integer>
			<key>useRelativeDates</key>
			<true/>
			<key>viewOptionsVersion</key>
			<integer>1</integer>
		</dict>
		<key>FXArrangeGroupViewBy</key>
		<string>Name</string>
		<key>FXDefaultSearchScope</key>
		<string>SCcf</string>
		<key>FXEnableExtensionChangeWarning</key>
		<false/>
		<key>FXInfoPanesExpanded</key>
		<dict>
			<key>General</key>
			<true/>
			<key>MetaData</key>
			<true/>
			<key>OpenWith</key>
			<true/>
			<key>Preview</key>
			<false/>
			<key>Privileges</key>
			<true/>
		</dict>
		<key>FXPreferredViewStyle</key>
		<string>Nlsv</string>
		<key>FavoriteTagNames</key>
		<array>
			<string/>
			<string>Red</string>
			<string>Orange</string>
			<string>Yellow</string>
			<string>Green</string>
			<string>Blue</string>
			<string>Purple</string>
			<string>Gray</string>
		</array>
		<key>FontSizeCategory</key>
		<string>Custom</string>
		<key>NewWindowTarget</key>
		<string>PfLo</string>
		<key>NewWindowTargetPath</key>
		<string>file:///Users/zouabi</string>
		<key>OpenWindowForNewRemovableDisk</key>
		<true/>
		<key>ShowExternalHardDrivesOnDesktop</key>
		<true/>
		<key>ShowHardDrivesOnDesktop</key>
		<true/>
		<key>ShowMountedServersOnDesktop</key>
		<true/>
		<key>ShowPathbar</key>
		<true/>
		<key>ShowRemovableMediaOnDesktop</key>
		<true/>
		<key>ShowSidebar</key>
		<true/>
		<key>ShowStatusBar</key>
		<true/>
		<key>StandardViewOptions</key>
		<dict>
			<key>ColumnViewOptions</key>
			<dict>
				<key>ArrangeBy</key>
				<string>dnam</string>
				<key>ColumnShowFolderArrow</key>
				<true/>
				<key>ColumnShowIcons</key>
				<true/>
				<key>ColumnWidth</key>
				<integer>245</integer>
				<key>FontSize</key>
				<integer>13</integer>
				<key>PreviewDisclosureState</key>
				<true/>
				<key>SharedArrangeBy</key>
				<string>kipl</string>
				<key>ShowIconThumbnails</key>
				<true/>
				<key>ShowPreview</key>
				<true/>
			</dict>
		</dict>
		<key>StandardViewSettings</key>
		<dict>
			<key>ExtendedListViewSettingsV2</key>
			<dict>
				<key>calculateAllSizes</key>
				<false/>
				<key>columns</key>
				<array>
					<dict>
						<key>ascending</key>
						<true/>
						<key>identifier</key>
						<string>name</string>
						<key>visible</key>
						<true/>
						<key>width</key>
						<integer>300</integer>
					</dict>
					<dict>
						<key>ascending</key>
						<false/>
						<key>identifier</key>
						<string>dateModified</string>
						<key>visible</key>
						<true/>
						<key>width</key>
						<integer>181</integer>
					</dict>
					<dict>
						<key>ascending</key>
						<false/>
						<key>identifier</key>
						<string>dateCreated</string>
						<key>visible</key>
						<false/>
						<key>width</key>
						<integer>181</integer>
					</dict>
					<dict>
						<key>ascending</key>
						<false/>
						<key>identifier</key>
						<string>size</string>
						<key>visible</key>
						<true/>
						<key>width</key>
						<integer>97</integer>
					</dict>
					<dict>
						<key>ascending</key>
						<true/>
						<key>identifier</key>
						<string>kind</string>
						<key>visible</key>
						<true/>
						<key>width</key>
						<integer>115</integer>
					</dict>
					<dict>
						<key>ascending</key>
						<true/>
						<key>identifier</key>
						<string>label</string>
						<key>visible</key>
						<false/>
						<key>width</key>
						<integer>100</integer>
					</dict>
					<dict>
						<key>ascending</key>
						<true/>
						<key>identifier</key>
						<string>version</string>
						<key>visible</key>
						<false/>
						<key>width</key>
						<integer>75</integer>
					</dict>
					<dict>
						<key>ascending</key>
						<true/>
						<key>identifier</key>
						<string>comments</string>
						<key>visible</key>
						<false/>
						<key>width</key>
						<integer>300</integer>
					</dict>
					<dict>
						<key>ascending</key>
						<false/>
						<key>identifier</key>
						<string>dateLastOpened</string>
						<key>visible</key>
						<false/>
						<key>width</key>
						<integer>200</integer>
					</dict>
					<dict>
						<key>ascending</key>
						<false/>
						<key>identifier</key>
						<string>shareOwner</string>
						<key>visible</key>
						<false/>
						<key>width</key>
						<integer>200</integer>
					</dict>
					<dict>
						<key>ascending</key>
						<false/>
						<key>identifier</key>
						<string>shareLastEditor</string>
						<key>visible</key>
						<false/>
						<key>width</key>
						<integer>200</integer>
					</dict>
				</array>
				<key>iconSize</key>
				<integer>16</integer>
				<key>showIconPreview</key>
				<true/>
				<key>sortColumn</key>
				<string>name</string>
				<key>textSize</key>
				<integer>13</integer>
				<key>useRelativeDates</key>
				<true/>
				<key>viewOptionsVersion</key>
				<integer>1</integer>
			</dict>
			<key>GalleryViewSettings</key>
			<dict>
				<key>arrangeBy</key>
				<string>name</string>
				<key>iconSize</key>
				<integer>48</integer>
				<key>showIconPreview</key>
				<true/>
				<key>viewOptionsVersion</key>
				<integer>1</integer>
			</dict>
			<key>IconViewSettings</key>
			<dict>
				<key>arrangeBy</key>
				<string>grid</string>
				<key>backgroundColorBlue</key>
				<integer>1</integer>
				<key>backgroundColorGreen</key>
				<integer>1</integer>
				<key>backgroundColorRed</key>
				<integer>1</integer>
				<key>backgroundType</key>
				<integer>0</integer>
				<key>gridOffsetX</key>
				<integer>0</integer>
				<key>gridOffsetY</key>
				<integer>0</integer>
				<key>gridSpacing</key>
				<integer>100</integer>
				<key>iconSize</key>
				<integer>80</integer>
				<key>labelOnBottom</key>
				<true/>
				<key>showIconPreview</key>
				<true/>
				<key>showItemInfo</key>
				<true/>
				<key>textSize</key>
				<integer>12</integer>
				<key>viewOptionsVersion</key>
				<integer>1</integer>
			</dict>
			<key>ListViewSettings</key>
			<dict>
				<key>calculateAllSizes</key>
				<false/>
				<key>columns</key>
				<dict>
					<key>comments</key>
					<dict>
						<key>ascending</key>
						<true/>
						<key>index</key>
						<integer>7</integer>
						<key>visible</key>
						<false/>
						<key>width</key>
						<integer>300</integer>
					</dict>
					<key>dateCreated</key>
					<dict>
						<key>ascending</key>
						<false/>
						<key>index</key>
						<integer>2</integer>
						<key>visible</key>
						<false/>
						<key>width</key>
						<integer>181</integer>
					</dict>
					<key>dateLastOpened</key>
					<dict>
						<key>ascending</key>
						<false/>
						<key>index</key>
						<integer>8</integer>
						<key>visible</key>
						<false/>
						<key>width</key>
						<integer>200</integer>
					</dict>
					<key>dateModified</key>
					<dict>
						<key>ascending</key>
						<false/>
						<key>index</key>
						<integer>1</integer>
						<key>visible</key>
						<true/>
						<key>width</key>
						<integer>181</integer>
					</dict>
					<key>kind</key>
					<dict>
						<key>ascending</key>
						<true/>
						<key>index</key>
						<integer>4</integer>
						<key>visible</key>
						<true/>
						<key>width</key>
						<integer>115</integer>
					</dict>
					<key>label</key>
					<dict>
						<key>ascending</key>
						<true/>
						<key>index</key>
						<integer>5</integer>
						<key>visible</key>
						<false/>
						<key>width</key>
						<integer>100</integer>
					</dict>
					<key>name</key>
					<dict>
						<key>ascending</key>
						<true/>
						<key>index</key>
						<integer>0</integer>
						<key>visible</key>
						<true/>
						<key>width</key>
						<integer>300</integer>
					</dict>
					<key>size</key>
					<dict>
						<key>ascending</key>
						<false/>
						<key>index</key>
						<integer>3</integer>
						<key>visible</key>
						<true/>
						<key>width</key>
						<integer>97</integer>
					</dict>
					<key>version</key>
					<dict>
						<key>ascending</key>
						<true/>
						<key>index</key>
						<integer>6</integer>
						<key>visible</key>
						<false/>
						<key>width</key>
						<integer>75</integer>
					</dict>
				</dict>
				<key>iconSize</key>
				<integer>16</integer>
				<key>showIconPreview</key>
				<true/>
				<key>sortColumn</key>
				<string>name</string>
				<key>textSize</key>
				<integer>13</integer>
				<key>useRelativeDates</key>
				<true/>
				<key>viewOptionsVersion</key>
				<integer>1</integer>
			</dict>
			<key>SettingsType</key>
			<string>StandardViewSettings</string>
		</dict>
		<key>_FXShowPosixPathInTitle</key>
		<true/>
		<key>_FXSortFoldersFirst</key>
		<true/>
	</dict>
</plist>
