<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>AssistiveControlType</key>
		<integer>0</integer>
		<key>closeViewCustomHotkeyKey</key>
		<dict>
			<key>AX_ZOOM_FREEZE_PANNING</key>
			<dict>
				<key>charCode</key>
				<integer>65535</integer>
				<key>keyCode</key>
				<integer>65535</integer>
				<key>modifiers</key>
				<integer>0</integer>
			</dict>
			<key>AX_ZOOM_MONITOR_SELECTION</key>
			<dict>
				<key>charCode</key>
				<integer>65535</integer>
				<key>keyCode</key>
				<integer>65535</integer>
				<key>modifiers</key>
				<integer>0</integer>
			</dict>
			<key>AX_ZOOM_TEMP_DETACH</key>
			<dict>
				<key>charCode</key>
				<integer>65535</integer>
				<key>keyCode</key>
				<integer>65535</integer>
				<key>modifiers</key>
				<integer>1310720</integer>
			</dict>
			<key>AX_ZOOM_TEMP_TOGGLE</key>
			<dict>
				<key>charCode</key>
				<integer>65535</integer>
				<key>keyCode</key>
				<integer>65535</integer>
				<key>modifiers</key>
				<integer>786432</integer>
			</dict>
			<key>AX_ZOOM_TOGGLE_FS_AND_PIP</key>
			<dict>
				<key>charCode</key>
				<integer>102</integer>
				<key>keyCode</key>
				<integer>3</integer>
				<key>modifiers</key>
				<integer>1572864</integer>
			</dict>
		</dict>
		<key>closeViewHotkeysEnabled</key>
		<false/>
		<key>closeViewZoomFactor</key>
		<integer>1</integer>
		<key>contrast</key>
		<integer>0</integer>
		<key>customFonts</key>
		<true/>
		<key>differentiateWithoutColor</key>
		<false/>
		<key>dwellEnabled</key>
		<false/>
		<key>grayscale</key>
		<false/>
		<key>headMouseSensitivity</key>
		<real>0.5</real>
		<key>headMouseTolerance</key>
		<integer>0</integer>
		<key>hoverColorEnabled</key>
		<false/>
		<key>hoverTextEnabled</key>
		<false/>
		<key>hoverTypingEnabled</key>
		<false/>
		<key>increaseContrast</key>
		<false/>
		<key>keyboardAccessEnabled</key>
		<false/>
		<key>keyboardAccessFocusRingTimeout</key>
		<integer>15</integer>
		<key>keyboardAccessPassthroughMode</key>
		<false/>
		<key>liveSpeechEnabled</key>
		<false/>
		<key>mouseDriver</key>
		<false/>
		<key>reduceMotion</key>
		<false/>
		<key>reduceTransparency</key>
		<false/>
		<key>showToolbarButtonShapes</key>
		<false/>
		<key>showWindowTitlebarIcons</key>
		<false/>
		<key>slowKey</key>
		<false/>
		<key>slowKeyDelay</key>
		<integer>250</integer>
		<key>speakSelectionEnabled</key>
		<true/>
		<key>stickyKey</key>
		<false/>
		<key>switchAutoScanElementInterval</key>
		<real>0.5</real>
		<key>switchAutoScanPanelInterval</key>
		<real>0.5</real>
		<key>switchCoalescePressesDuration</key>
		<integer>0</integer>
		<key>switchFirstElementDelay</key>
		<integer>0</integer>
		<key>switchHideUIEnabled</key>
		<false/>
		<key>switchHideUITimeout</key>
		<integer>15</integer>
		<key>switchHoldBeforeRepeatDuration</key>
		<integer>3</integer>
		<key>switchMinimumPressDuration</key>
		<integer>0</integer>
		<key>switchOnOffKey</key>
		<false/>
		<key>switchSweepingCursorSpeed</key>
		<integer>5</integer>
		<key>systemTranscriptionEnabled</key>
		<false/>
		<key>useStickyKeysShortcutKeys</key>
		<false/>
		<key>virtualKeyboardOnOff</key>
		<false/>
		<key>voiceOverOnOffKey</key>
		<false/>
		<key>whiteOnBlack</key>
		<false/>
	</dict>
</plist>
