<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>AppleActionOnDoubleClick</key>
		<string>Maximize</string>
		<key>AppleFontSmoothing</key>
		<integer>1</integer>
		<key>AppleInterfaceStyle</key>
		<string>Dark</string>
		<key>AppleKeyboardUIMode</key>
		<integer>3</integer>
		<key>ApplePressAndHoldEnabled</key>
		<false/>
		<key>AppleReduceDesktopTinting</key>
		<true/>
		<key>AppleScrollerPagingBehavior</key>
		<integer>1</integer>
		<key>AppleShowAllExtensions</key>
		<true/>
		<key>AppleShowScrollBars</key>
		<string>Always</string>
		<key>InitialKeyRepeat</key>
		<integer>10</integer>
		<key>KeyRepeat</key>
		<integer>1</integer>
		<key>NSAutomaticCapitalizationEnabled</key>
		<false/>
		<key>NSAutomaticDashSubstitutionEnabled</key>
		<false/>
		<key>NSAutomaticPeriodSubstitutionEnabled</key>
		<false/>
		<key>NSAutomaticQuoteSubstitutionEnabled</key>
		<false/>
		<key>NSAutomaticSpellingCorrectionEnabled</key>
		<false/>
		<key>NSDisableAutomaticTermination</key>
		<true/>
		<key>NSDocumentSaveNewDocumentsToCloud</key>
		<false/>
		<key>NSNavPanelExpandedStateForSaveMode</key>
		<true/>
		<key>NSNavPanelExpandedStateForSaveMode2</key>
		<true/>
		<key>NSTableViewDefaultSizeMode</key>
		<integer>2</integer>
		<key>NSTextShowsControlCharacters</key>
		<true/>
		<key>NSToolbarTitleViewRolloverDelay</key>
		<integer>0</integer>
		<key>NSUseAnimatedFocusRing</key>
		<false/>
		<key>NSWindowResizeTime</key>
		<real>0.0010000000474974513</real>
		<key>NSWindowShouldDragOnGesture</key>
		<true/>
		<key>PMPrintingExpandedStateForPrint</key>
		<true/>
		<key>PMPrintingExpandedStateForPrint2</key>
		<true/>
		<key>TISRomanSwitchState</key>
		<integer>1</integer>
		<key>com.apple.springing.delay</key>
		<integer>0</integer>
		<key>com.apple.springing.enabled</key>
		<true/>
		<key>com.apple.mouse.tapBehavior</key>
		<integer>1</integer>
	</dict>
</plist>
